<div class="container">


  <mat-accordion class="container__panel" *ngFor="let item of itemList index as i">
      <mat-expansion-panel class="mat-elevation-z0 container__panel__expansion-panel">
        <mat-expansion-panel-header>

          <mat-panel-title class="container__panel__expansion-panel__title" fxLayoutAlign="space-between" flexLayout="row">

            <div fxLayout="row" fxLayoutAlign="space-between center" class="container__panel__expansion-panel__title__items">

              <mat-radio-button  class="mat-elevation-z0 container__panel__expansion-panel__title__items__radio-button" [disabled]="!item.status" >
                <b style="color: #4F4F58;">{{itemName}} {{item.name}}</b>
                <mat-hint fxLayout="column" class="container__panel__expansion-panel__title__items__radio-button__hint">by Mr X | Date</mat-hint>
            </mat-radio-button>

            <mat-slide-toggle fxLayoutAlign="center center" [checked] = "item.status" (change)="buttonTapped(i)"></mat-slide-toggle>

            </div>
          </mat-panel-title>
          <!-- <mat-panel-description>A demo title</mat-panel-description> -->

        </mat-expansion-panel-header>
        <!-- i'm the items inside the expansion panel -->
        <div class="container__panel__expansion-panel__data">
          <mat-divider></mat-divider>
          <p class="container__panel__expansion-panel__data__item">Print Size: A3 Portrait</p>
          <p class="container__panel__expansion-panel__data__item">Print Type: Standard</p>
          <div fxLayout="column" class="container__panel__expansion-panel__data__item">
            <span>Recurrent Date and Time: Weekly</span>
            <span>Days: Monday, Tuesday, Wednesday</span>
          </div>
          <p class="container__panel__expansion-panel__data__item">Date Range: start_Date - End_Date</p>
          <mat-divider></mat-divider>
          <p class="container__panel__expansion-panel__data__item"><b>Report Download</b></p>
          <mat-hint class="container__panel__expansion-panel__data__hint">Repeats every week on Monday</mat-hint>
        </div>

      </mat-expansion-panel>
  </mat-accordion>

</div>
